:root {
  --bg-primary: #F3F3E0;
  --text-primary: black;

  --primary: #27548A;
  --secondary: #DDA853;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  --padding-xs: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 0.75rem;
  --padding-lg: 1rem;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 2.75rem;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
}

button {
  background: var(--secondary);
  padding: var(--padding-sm);
  border-radius: var(--radius-md);
  border: none;
  font-size: var(--font-base);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.15s, transform 0.15s;
}

button:active {
  transform: scale(0.98);
}

button:hover {
  background: #cfa14f;
  box-shadow: 0 4px 10px rgba(39, 84, 138, 0.15);
}
