<div class="screen-box-center">
  <div class="flex flex-row gap-10">
    @if (userInfo()) {
      <div>
        {{ userInfo()?.name }}
      </div>
    }
    <div class="flex justify-center items-center">
      <button (click)="onAuthenticate()"
              class="text-2xl text-brand-primary font-medium hover:underline transition">
        Authenticate
      </button>
    </div>

    <div class="flex flex-col gap-6 h-full my-5 overflow-y-auto p-2">
      @for (anime of animeList(); track anime.id) {
        <div
          class="w-96 min-h-60 h-60 bg-white rounded-xl flex flex-row overflow-hidden shadow-lg">
          <img
            ngSrc="{{ anime.mainPicture.medium }}"
            [alt]="anime.title"
            width="160"
            height="240"
            class="h-full w-2/5 object-cover"
          />

          <div class="p-4 w-3/5 flex flex-col justify-between text-sm">
            <div>
              <h2 class="text-lg font-semibold text-text-primary mb-2">{{
                  truncate(anime.title)
                }}</h2>
              <div class="text-gray-600 space-y-1">
                <p><span class="font-medium text-gray-800">Aired On:</span> {{ anime.startDate }}
                </p>
                <p><span
                  class="font-medium text-gray-800">Total Episodes:</span> {{ anime.numEpisodes }}
                </p>
                <p><span class="font-medium text-gray-800">Expected Finish:</span> {{
                    calculateEstimatedEndDateWithDays(anime.startDate, anime.numEpisodes)
                  }}</p>
              </div>
            </div>

            <div class="mt-2">
              <a
                [href]="prepareDetailsUrl(anime)"
                target="_blank"
                class="inline-block text-center w-full bg-brand-primary text-white px-3 py-1 rounded hover:bg-brand-secondary transition-colors text-sm"
              >
                Details
              </a>
            </div>
          </div>

        </div>
      }
    </div>
  </div>
</div>

