<div class="screen-box flex gap-5">
  @if (userInfo()) {
    <div class="h-full w-56 p-5 text-brand-primary flex flex-col gap-5 text-lg">
      <p class="text-3xl font-bold">{{ userInfo()!.name }}</p>
      <div class="flex flex-col gap-1">
        <a [href]="prepareUserInfoDetailsUrl(userInfo()!)" target="_blank" rel="noopener noreferrer"
           class="text-2xl text-black hover:underline flex justify-start items-center">
          Profile
        </a>
        <button class="text-2xl text-black hover:underline flex justify-start items-center">
          Logout
        </button>
      </div>
    </div>
  }
  <!--  dodac link do profile i guzik logout-->
  <!--    <div class="flex justify-center items-center">-->
  <!--      <button (click)="onAuthenticate()"-->
  <!--              class="text-2xl text-brand-primary font-medium hover:underline transition">-->
  <!--        Authenticate-->
  <!--      </button>-->
  <!--    </div>-->

    <div class="flex flex-col flex-grow gap-5 p-5">
        <div class="grid flex-grow gap-5 overflow-y-auto p-2 grid-cols-[repeat(auto-fill,24rem)]
        place-content-start">
        @for (anime of animeList(); track anime.id) {
          <div
            class="w-96 min-h-60 h-60 bg-white rounded-xl flex flex-row overflow-hidden shadow-lg">
            <img
              ngSrc="{{ anime.mainPicture.medium }}"
              [alt]="anime.title"
              width="160"
              height="240"
              class="h-full w-2/5 object-cover"
            />

            <div class="p-5 w-3/5 flex flex-col justify-between text-sm">
              <div>
                <h2 class="text-lg font-semibold text-text-primary mb-2">{{
                    truncate(anime.title)
                  }}</h2>
                <div class="text-gray-600 space-y-1">
                  <p><span class="font-medium text-gray-800">Aired On:</span> {{ anime.startDate }}
                  </p>
                  <p><span
                    class="font-medium text-gray-800">Total Episodes:</span> {{ anime.numEpisodes }}
                  </p>
                  <p><span class="font-medium text-gray-800">Expected Finish:</span> {{
                      calculateEstimatedEndDateWithDays(anime.startDate, anime.numEpisodes)
                    }}</p>
                </div>
              </div>

              <div class="mt-2">
                <a [href]="prepareAnimeDetailsUrl(anime)" target="_blank" rel="noopener noreferrer"
                   class="inline-block text-center w-full bg-brand-primary text-white px-3 py-1 rounded hover:bg-brand-secondary transition-colors text-sm">
                  Details
                </a>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="flex justify-center gap-5 border-t">
        <button
          class="px-3 py-1 rounded border text-sm disabled:opacity-50"
          [disabled]="currentPage === 1"
          (click)="loadPage(currentPage - 1)">
          Prev
        </button>

        @for (page of [1, 2, 3, 4, 5]; track page) {
          <button
            class="px-3 py-1 rounded border text-sm"
            [class.bg-brand-primary]="page === currentPage"
            [class.text-white]="page === currentPage"
            (click)="loadPage(page)">
            {{ page }}
          </button>
        }

        <button
          class="px-3 py-1 rounded border text-sm"
          (click)="loadPage(currentPage + 1)">
          Next
        </button>
      </div>
    </div>
</div>

