<main
  class="bg-[var(--bg)] text-[var(--primary)] h-screen w-screen flex items-center justify-center"
>
  <a
    target="_blank"
    [href]="prepareDetailsUrl()"
    class="
      text-center
      text-[var(--primary)]
      px-6 py-2
      rounded-lg
      text-3xl
      border-4 border-[var(--primary)]
      font-bold
      transition-all duration-300 ease-out
      hover:bg-[var(--primary)]
      hover:text-[var(--bg)]
      hover:shadow-[0_12px_30px_rgba(39,84,138,0.35)]
    "
  >
    Start Authentication
  </a>
</main>
