<main
  class="bg-[var(--bg)] text-[var(--primary)] h-screen w-screen flex items-center justify-center"
>
  <a
    target="_blank"
    [href]="'http://localhost:8080/api/authenticate'"
    class="text-center text-[var(--primary)] px-6 py-2 rounded-lg text-3xl border-4 border-[var(--primary)]
    font-bold transition-shadow duration-500 ease-in-out
    hover:bg-[color-mix(in_srgb,var(--primary)_8%,transparent)]
    hover:shadow-[0_6px_18px_rgba(39,84,138,0.18)]"
  >
    Start Authentication
  </a>
</main>
