<div class="w-96 min-h-60 h-60 bg-white rounded-xl flex flex-row overflow-hidden shadow-lg">
  <img
    [ngSrc]="anime().mainPicture.medium"
    [alt]="anime().title"
    width="160"
    height="240"
    class="h-full w-2/5 object-cover"
  />

  <div class="p-5 w-3/5 flex flex-col text-sm">
    <h2 class="text-lg font-semibold text-text-primary mb-2 border-b-2 border-brand-primary">
      {{ AnimeTileService.truncate(anime().title) }}
    </h2>

    <div
      #scrollContainer
      class="flex-1 overflow-y-auto border-b-2"
      [class.border-brand-primary]="scrollIsAtBottom()"
      [class.border-transparent]="!scrollIsAtBottom()"
      (scroll)="onScroll($event)"
    >
      <div class="space-y-2">
        @for (missingTitle of anime().missingTitles; track missingTitle.title) {
          <div>
            <div class="text-[11px] uppercase tracking-wide text-gray-800 font-semibold">
              {{ missingTitle.relationTypeFormatted }}
            </div>

            <a
              [href]="AnimeTileService.prepareAnimeDetailsUrl(missingTitle.id)"
              target="_blank"
              rel="noopener noreferrer"
              class="block text-brand-primary hover:underline"
              [title]="missingTitle.title"
            >
              {{ AnimeTileService.truncate(missingTitle.title, 27) }}
            </a>
          </div>
        }
      </div>
    </div>

    <div class="mt-2">
      <a
        [href]="AnimeTileService.prepareAnimeDetailsUrl(anime().id)"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block text-center w-full bg-brand-primary text-white px-3 py-1 rounded hover:bg-brand-secondary transition-colors text-sm"
        [title]="anime.title"
      >
        Details
      </a>
    </div>
  </div>
</div>
