@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .screen-box {
    @apply flex h-screen w-screen bg-bg-primary text-text-primary;
  }
  .dash-animation {
    @apply cursor-pointer after:block after:h-0.5 after:w-0 after:bg-brand-primary after:duration-200
    hover:after:w-full;
  }
  .screen-box-between {
    @apply flex h-screen w-screen flex-col justify-between bg-bg-primary text-text-primary;
  }
  .test {
    @apply border border-black;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
