@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen-box-center {
    @apply flex h-screen w-screen flex-col items-center justify-center bg-primary text-black;
  }
  .screen-box-between {
    @apply flex h-screen w-screen flex-col justify-between bg-primary text-black;
  }
  .test {
    @apply border border-black;
  }
}
